version: '3.8'

services:
  aproxima:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    image: aproxima:latest
    container_name: aproxima
    restart: unless-stopped
    network_mode: host
    environment:
      - NODE_ENV=production
      - HOSTNAME=0.0.0.0
      - PORT=3010
