services:
  aproxima:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: aproxima-app
    restart: unless-stopped
    ports:
      - "3010:3000"
    environment:
      - NODE_ENV=production
      - PORT=3000
    networks:
      - web

networks:
  web:
    external: true
